.empty-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $black-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: -2px 0px $black-2, 0px 0px $black-2;
  .empty-icon {
    font-size: 10rem;
    color: $black-1;
    text-shadow: -2px 0px $black-2, 0px 0px $black-2;
  }
  h2 {
    position: relative;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
  }
  p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.7;
  }
}